* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.score{
    margin-left: 1rem;
    margin-top: 2rem;
}


/*game-second*/

.game-second{
    width: 300px;
    
    text-align: center;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
}

#second-left{
    margin-bottom: 5rem;
}
/*game*/
.game{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
   
}

.inputs{
    margin-left: 0.6rem;
}
.icons{
    margin-left: 0.6rem;
    margin-top: 1.2rem;
}
/*limit*/
.number-limit{
margin-top: 1.1rem;
}
.number-q{
    margin: 1.2rem 0;
}

.hidden{
margin-left: auto;
margin-right: auto;
text-align: center;
display: none;
width: 300px;
}

#another_game{
margin-bottom: 2rem;
}

.answer_q{
width: 2rem;
height: 1.3rem;
}

